In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

#load data frames from resources folder
df_asthma = pd.read_csv('../resources/Asthma_Emergency_Department_Visit_Rates_by_ZIP_Code.csv')
df = pd.read_csv('../resources/asthma_data.csv')

In [2]:
df_asthma

,Year,ZIP code,Age Group,Number of Visits,Age-adjusted rate,County Fips code,County
0,2012,"90001\n(33.973271508000494, -118.24896959899968)",AllAges,433.0,76.200000,6037,LOS ANGELES
1,2012,"90001\n(33.973271508000494, -118.24896959899968)",Children (0-17),221.0,108.600000,6037,LOS ANGELES
2,2012,"90001\n(33.973271508000494, -118.24896959899968)",Adults (18+),212.0,64.900000,6037,LOS ANGELES
3,2012,"90002\n(33.94895251300045, -118.24697958699971)",AllAges,438.0,78.200000,6037,LOS ANGELES
4,2012,"90002\n(33.94895251300045, -118.24697958699971)",Children (0-17),215.0,113.300000,6037,LOS ANGELES
...,...,...,...,...,...,...,...
7081,2009,"96150\n(38.91503998200005, -119.99451907399998)",Children (0-17),16.0,19.176574,6017,EL DORADO
7082,2009,"96150\n(38.91503998200005, -119.99451907399998)",Adults (18+),26.0,8.929906,6017,EL DORADO
7083,2009,"96161\n(39.34004669500007, -120.18931870499995)",All Ages,16.0,8.646950,6057,NEVADA
7084,2009,"96161\n(39.34004669500007, -120.18931870499995)",Children (0-17),NaN,NaN,6057,NEVADA
7085,2009,"96161\n(39.34004669500007, -120.18931870499995)",Adults (18+),NaN,NaN,6057,NEVADA

In [3]:
#drop all AllAges or All Ages values in Age group column
df_asthma_v1 = df_asthma[(df_asthma['Age Group'] != 'AllAges') & (df_asthma['Age Group'] != 'All Ages')]

In [4]:
#convert nans to 0
df_asthma_v1 = df_asthma_v1.fillna(0)

In [5]:
#Split ZIP code into lat_Lon and then split lat_Lon in into Lat and Lon
df_asthma_v1[['ZIP code', 'Lat_Lon']] = df_asthma_v1['ZIP code'].str.split('\n', 1, expand=True)

df_asthma_v1[['Lat', 'Lon']] = df_asthma_v1['Lat_Lon'].str.split(',', 1, expand=True)

df_asthma_v1.drop(columns=['Lat_Lon'],inplace=True)

In [6]:
#Remove paranthesis from lat and lon
df_asthma_v1['Lat'] = df_asthma_v1['Lat'].str[1:]
df_asthma_v1['Lon'] = df_asthma_v1['Lon'].str[:-1]

In [7]:
df_asthma_v1

,Year,ZIP code,Age Group,Number of Visits,Age-adjusted rate,County Fips code,County,Lat,Lon
1,2012,90001,Children (0-17),221.0,108.600000,6037,LOS ANGELES,33.973271508000494,-118.24896959899968
2,2012,90001,Adults (18+),212.0,64.900000,6037,LOS ANGELES,33.973271508000494,-118.24896959899968
4,2012,90002,Children (0-17),215.0,113.300000,6037,LOS ANGELES,33.94895251300045,-118.24697958699971
5,2012,90002,Adults (18+),223.0,66.000000,6037,LOS ANGELES,33.94895251300045,-118.24697958699971
7,2012,90003,Children (0-17),295.0,125.200000,6037,LOS ANGELES,33.96335186100049,-118.27393599999971
...,...,...,...,...,...,...,...,...,...
7079,2009,96137,Adults (18+),14.0,168.321586,6035,LASSEN,40.27826807800005,-121.11084657699996
7081,2009,96150,Children (0-17),16.0,19.176574,6017,EL DORADO,38.91503998200005,-119.99451907399998
7082,2009,96150,Adults (18+),26.0,8.929906,6017,EL DORADO,38.91503998200005,-119.99451907399998
7084,2009,96161,Children (0-17),0.0,0.000000,6057,NEVADA,39.34004669500007,-120.18931870499995
7085,2009,96161,Adults (18+),0.0,0.000000,6057,NEVADA,39.34004669500007,-120.18931870499995

In [8]:
#Encode Age group into binary values
df_asthma_v1['Age Group'].replace(('Children (0-17)', 'Adults (18+)'), (1, 0), inplace=True)

In [9]:
df.columns

Index(['Year', 'Zip_Code', 'Number_of_Asthma_ED_Visits',
       'Age_Adjusted_Rate_of_Asthma_ED_V', 'Age_Group', 'county'],
      dtype='object')

In [10]:
df['Age_Group'].replace(('0-17', '18+'), (1,0), inplace=True)

In [11]:
df['county'] = df['county'].str.capitalize()

In [12]:
#Convert County values to lower case
df_asthma_v1['County'] = df_asthma_v1['County'].str.capitalize()

In [13]:
df_asthma_v1 = df_asthma_v1.drop(columns={'County Fips code', 'Lat','Lon'})

In [14]:
df_asthma_v1['Year'].unique()

array([2012, 2009], dtype=int64)

In [15]:
df['Year'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [16]:
df_asthma_v1 = df_asthma_v1.rename(columns={'ZIP code': 'Zip_Code','Age Group':'Age_Group'})

In [17]:
df = df.rename(columns={'Number_of_Asthma_ED_Visits': 'Number of Visits','Age_Adjusted_Rate_of_Asthma_ED_V':'Age-adjusted rate','county':'County'})

In [18]:
df_asthma_v1['Zip_Code'] = pd.to_numeric(df_asthma_v1['Zip_Code'])

In [19]:
df['Number of Visits'] = df['Number of Visits'].astype(float)

In [20]:
df.dtypes

Year                   int64
Zip_Code               int64
Number of Visits     float64
Age-adjusted rate    float64
Age_Group              int64
County                object
dtype: object

In [21]:
df_asthma_v1.dtypes

Year                   int64
Zip_Code               int64
Age_Group              int64
Number of Visits     float64
Age-adjusted rate    float64
County                object
dtype: object

In [22]:
df_asthma_v1.columns.tolist()

['Year',
 'Zip_Code',
 'Age_Group',
 'Number of Visits',
 'Age-adjusted rate',
 'County']

In [23]:
asthma_df = df.merge(df_asthma_v1, how='outer', on=['Year','Zip_Code','Age_Group','Number of Visits','Age-adjusted rate', 'County'])

In [24]:
asthma_df.dtypes

Year                   int64
Zip_Code               int64
Number of Visits     float64
Age-adjusted rate    float64
Age_Group              int64
County                object
dtype: object

In [25]:
asthma_df

,Year,Zip_Code,Number of Visits,Age-adjusted rate,Age_Group,County
0,2013,90001,240.0,79.900000,0,Los angeles
1,2013,90002,215.0,67.800000,0,Los angeles
2,2013,90003,287.0,73.400000,0,Los angeles
3,2013,90004,101.0,21.700000,0,Los angeles
4,2013,90005,76.0,24.300000,0,Los angeles
...,...,...,...,...,...,...
16858,2009,96137,14.0,168.321586,0,Lassen
16859,2009,96150,16.0,19.176574,1,El dorado
16860,2009,96150,26.0,8.929906,0,El dorado
16861,2009,96161,0.0,0.000000,1,Nevada
16862,2009,96161,0.0,0.000000,0,Nevada

In [26]:
asthma_df.to_csv('../resources/Cleaned_folder/asthma2009_2018.csv', index= False)