In [10]:
import pandas as pd

In [11]:
aqi = pd.read_csv('../resources/Cleaned_folder/aqi_data2.csv')
asthma = pd.read_csv('../resources/Cleaned_folder/asthma_cleaned2.csv')

In [12]:
asthma.columns.tolist()

['Year',
 'Zip_Code',
 'Number_of_Asthma_ED_Visits',
 'Age_Adjusted_Rate_of_Asthma_ED_V',
 'Age_Group',
 'county']

In [13]:
asthma_clean = asthma.drop(['Zip_Code'], axis=1).copy()

In [14]:
asthma_clean

,Year,Number_of_Asthma_ED_Visits,Age_Adjusted_Rate_of_Asthma_ED_V,Age_Group,county
0,2013,240,79.9,0,Los angeles
1,2013,215,67.8,0,Los angeles
2,2013,287,73.4,0,Los angeles
3,2013,101,21.7,0,Los angeles
4,2013,76,24.3,0,Los angeles
...,...,...,...,...,...
12134,2018,42,90.8,1,Tehama
12135,2018,41,62.3,1,Tehama
12136,2018,12,57.7,1,Siskiyou
12137,2018,14,38.0,1,Lassen
12138,2018,12,20.2,1,El dorado

In [15]:
asth = asthma_clean.groupby(['Year','Age_Group',pd.Grouper(key='county')]).mean()

In [16]:
asthma_to_merg = asth.reset_index()

In [17]:
asthma_to_merg

,Year,Age_Group,county,Number_of_Asthma_ED_Visits,Age_Adjusted_Rate_of_Asthma_ED_V
0,2013,0,Alameda,144.630435,55.506522
1,2013,0,Amador,32.500000,78.233333
2,2013,0,Butte,81.000000,46.100000
3,2013,0,Calaveras,45.000000,89.250000
4,2013,0,Colusa,22.000000,42.600000
...,...,...,...,...,...
634,2018,1,Tulare,58.333333,58.616667
635,2018,1,Tuolumne,27.000000,59.600000
636,2018,1,Ventura,50.333333,45.377778
637,2018,1,Yolo,35.714286,56.585714
638,2018,1,Yuba,47.000000,52.850000

In [18]:
aqi = aqi.drop('State',axis=1)

In [20]:
len(asthma_clean['county'].unique().tolist())

56

In [21]:
aqi['Year'] = aqi['Date Local'].str.split('-').str[0]

In [22]:
aqi['Year'] = pd.to_numeric(aqi['Year'])

In [23]:
aqi = aqi.drop('Date Local', axis = 1)

In [24]:
aqi.columns

Index(['County', 'NO2 AQI', 'O3 AQI', 'SO2 AQI', 'CO AQI', 'Year'], dtype='object')

In [25]:
aqi_grouped = aqi.groupby('Year')

In [26]:
aqi_grouper = aqi.groupby(['Year',pd.Grouper(key='County')]).agg(['mean','max','min'])

In [27]:
aqi_grouper

                       NO2 AQI                           O3 AQI              \
                          mean         max       min       mean         max
Year County
2013 Alameda         25.151099   61.000000  5.000000  21.027473   50.000000
     Contra Costa    15.813699   34.666667  3.000000  29.459817   78.000000
     Fresno          23.650000   57.000000  3.000000  44.755556  145.000000
     Humboldt         4.561644   27.000000  0.000000  23.536986   41.500000
     Imperial        30.343931  111.000000  2.000000  50.719653  182.000000
     Los Angeles     31.257397   70.000000  5.250000  35.754064   90.600000
     Orange          21.022654   73.000000  2.000000  38.566343  143.000000
     Riverside       27.000000   56.000000  5.000000  54.329231  195.000000
     Sacramento      16.923358   42.000000  1.000000  42.364964  154.000000
     San Bernardino  31.454338   62.000000  2.000000  63.977169  166.500000
     San Diego       20.154070   48.000000  4.000000  40.793605  126.000000
     Santa Barbara    4.793151   17.333333  0.333333  36.327854  104.333333
     Santa Clara     20.790411   47.000000  3.500000  27.617808  106.500000
     Solano          18.693151   46.000000  1.000000  30.194521   93.000000
2014 Alameda         23.060274   53.000000  5.000000  25.654795   64.000000
     Contra Costa    13.504110   41.000000  2.666667  32.782192   99.000000
     Fresno          23.086777   56.000000  4.000000  57.625344  172.000000
     Humboldt         3.926484   17.500000  0.000000  25.796804   42.000000
     Imperial        26.840125   93.000000  2.000000  47.068966  151.000000
     Los Angeles     31.691194   72.200000  6.666667  38.954660  137.500000
     Orange          20.892958   57.000000  2.000000  40.287324  129.000000
     Riverside       26.558011   56.000000  4.000000  63.682320  197.000000
     Sacramento      14.085873   41.000000  1.000000  43.238227  122.000000
     San Bernardino  30.512329   57.000000  6.000000  60.075342  156.000000
     San Diego       23.355856   54.000000  3.000000  39.319820  115.000000
     Santa Barbara    3.851598   16.000000  0.000000  37.387671  107.666667
     Santa Clara     22.076712   55.000000  4.000000  30.506849   87.000000
     Solano          15.980822   47.000000  1.000000  31.561644   93.000000
2015 Alameda         22.758242   54.000000  5.000000  25.304945   80.000000
     Contra Costa    13.496347   29.000000  3.000000  33.710502   89.000000
     Fresno          19.155620   46.000000  3.000000  53.878963  182.000000
     Humboldt         4.497067   15.500000  0.000000  27.127566   45.000000
     Imperial        25.738889   82.000000  2.000000  48.402778  140.000000
     Los Angeles     31.142851   65.333333  2.000000  39.578891   95.000000
     Orange          20.956522   49.000000  1.000000  42.217391  129.000000
     Riverside       26.600559   54.000000  3.000000  61.550279  200.000000
     Sacramento      16.126074   49.000000  0.000000  40.249284  159.000000
     San Bernardino  27.668493   68.000000  0.000000  59.624658  200.000000
     San Diego       19.067449   56.000000  3.000000  39.545455   90.000000
     Santa Barbara    4.192694   11.333333  0.500000  37.704110   75.000000
     Santa Clara     21.895028   46.000000  3.000000  32.240331  136.000000
     Solano          15.986226   42.000000  1.000000  31.622590  100.000000
2016 Alameda         24.820513   45.000000  8.000000  27.008547   45.000000
     Contra Costa    13.661157   27.333333  3.000000  31.706612   81.666667
     Fresno          27.706897   50.000000  9.000000  27.758621   50.000000
     Humboldt         4.686813   13.500000  0.000000  30.659341   41.000000
     Imperial        33.659341   83.000000  3.000000  43.021978   97.000000
     Sacramento      19.785714   31.000000  3.000000  24.464286   32.000000
     San Bernardino  25.875000   51.000000  3.000000  38.613636   84.000000
     Santa Barbara    4.106227   10.333333  0.000000  39.021978   74.000000
     Santa Clara     23.355372   48.000000  4.000000  30.454545   67.000000
     Solano          17.851240   36.000000  1.000000  31.545455   84.000000

                                 SO2 AQI                          CO AQI  \
                           min      mean        max       min       mean
Year County
2013 Alameda          3.000000  2.491758  67.000000  0.000000   8.043956
     Contra Costa     9.000000  1.209132   6.666667  0.000000   4.422831
     Fresno           3.000000  0.877778   7.000000  0.000000   7.325000
     Humboldt         9.000000  0.021918   0.500000  0.000000   3.682192
     Imperial        12.000000  2.609827  14.000000  0.000000   9.855491
     Los Angeles      9.250000  1.537215  11.000000  0.000000   7.940822
     Orange           7.000000  0.537217   6.000000  0.000000   4.935275
     Riverside        2.000000  0.301538  10.000000  0.000000   7.006154
     Sacramento       6.000000  0.580292   7.000000  0.000000   6.240876
     San Bernardino  13.000000  1.193151   6.000000  0.000000   4.175342
     San Diego        9.000000  0.005814   1.000000  0.000000   5.093023
     Santa Barbara   16.333333  2.808676  37.000000  0.666667   2.145205
     Santa Clara      1.500000  0.884932   9.500000  0.000000   6.123288
     Solano           8.000000  0.895890  11.000000  0.000000   6.621918
2014 Alameda          4.000000  2.101370  23.000000  0.000000   7.849315
     Contra Costa     6.666667  1.774429  17.000000  0.000000   4.816438
     Fresno           5.000000  0.942149   9.000000  0.000000   6.151515
     Humboldt        10.000000  0.108676   1.000000  0.000000   3.520548
     Imperial         5.000000  2.780564  16.000000  0.000000   7.971787
     Los Angeles      7.000000  1.487341   8.000000  0.000000   7.900807
     Orange           8.000000  0.636620  11.000000  0.000000   4.335211
     Riverside        5.000000  0.477901   7.000000  0.000000   6.562155
     Sacramento       4.000000  0.869806   7.000000  0.000000   4.711911
     San Bernardino  13.500000  1.027397   4.000000  0.000000   4.353425
     San Diego        3.000000  0.009009   1.000000  0.000000   5.558559
     Santa Barbara   20.333333  1.911872  39.666667  0.000000   2.241553
     Santa Clara      3.000000  0.208219   4.000000  0.000000   5.684932
     Solano           8.000000  1.183562  33.000000  0.000000   5.638356
2015 Alameda          4.000000  2.280220  30.000000  0.000000   8.285714
     Contra Costa     4.000000  1.574886   6.000000  0.000000   5.281279
     Fresno           6.000000  1.115274  14.000000  0.000000   5.628242
     Humboldt         9.000000  0.027859   0.500000  0.000000   4.046921
     Imperial        13.000000  2.680556  23.000000  0.000000   8.127778
     Los Angeles      9.333333  1.542283  17.333333  0.000000   6.646738
     Orange           0.000000  0.286957   6.000000  0.000000   4.736232
     Riverside        4.000000  0.175978   1.000000  0.000000   5.909218
     Sacramento       3.000000  2.630372  11.000000  0.000000   4.948424
     San Bernardino   6.500000  2.445205  74.000000  0.000000   4.812329
     San Diego        8.000000  0.014663   1.000000  0.000000   4.480938
     Santa Barbara   20.000000  1.067123  12.666667  0.000000   2.561187
     Santa Clara      2.000000  0.262431   4.000000  0.000000   6.013812
     Solano           3.000000  0.887052   7.000000  0.000000   6.512397
2016 Alameda          7.000000  2.256410  30.000000  0.000000   8.299145
     Contra Costa    11.000000  1.647383   7.666667  0.333333   5.336088
     Fresno           6.000000  0.000000   0.000000  0.000000   9.051724
     Humboldt        12.500000  0.307692   1.000000  0.000000   3.527473
     Imperial        16.000000  2.318681   9.000000  0.000000  10.802198
     Sacramento      13.000000  3.750000   6.000000  1.000000   7.535714
     San Bernardino  17.000000  0.420455   3.000000  0.000000   6.306818
     Santa Barbara   24.000000  0.846154   2.333333  0.000000   1.793040
     Santa Clara      6.000000  0.190083   1.000000  0.000000   6.016529
     Solano           6.000000  0.950413   9.000000  0.000000   6.801653


                           max       min
Year County
2013 Alameda         36.000000  2.000000
     Contra Costa     9.666667  2.000000
     Fresno          26.000000  0.000000
     Humboldt         9.000000  1.000000
     Imperial        56.000000  1.000000
     Los Angeles     23.000000  1.750000
     Orange          23.000000  0.000000
     Riverside       20.500000  2.000000
     Sacramento      24.000000  1.000000
     San Bernardino  12.000000  0.000000
     San Diego       14.000000  2.000000
     Santa Barbara    6.000000  0.666667
     Santa Clara     17.500000  2.000000
     Solano          26.000000  2.000000
2014 Alameda         30.000000  3.000000
     Contra Costa     8.666667  2.000000
     Fresno          27.000000  1.000000
     Humboldt         8.500000  1.500000
     Imperial        43.000000  1.000000
     Los Angeles     22.400000  2.250000
     Orange          22.000000  0.000000
     Riverside       21.000000  2.000000
     Sacramento      19.000000  1.000000
     San Bernardino  13.000000  1.000000
     San Diego       20.000000  1.000000
     Santa Barbara    6.666667  1.000000
     Santa Clara     22.000000  2.000000
     Solano          24.000000  2.000000
2015 Alameda         30.000000  3.000000
     Contra Costa    11.000000  2.333333
     Fresno          20.000000  1.000000
     Humboldt         8.500000  1.000000
     Imperial        45.000000  1.000000
     Los Angeles     19.333333  1.666667
     Orange          25.000000  0.000000
     Riverside       18.000000  0.500000
     Sacramento      23.000000  1.000000
     San Bernardino  32.000000  0.500000
     San Diego       13.000000  1.000000
     Santa Barbara    4.666667  1.000000
     Santa Clara     18.000000  2.000000
     Solano          22.000000  0.000000
2016 Alameda         16.000000  3.000000
     Contra Costa     8.000000  2.666667
     Fresno          19.000000  3.000000
     Humboldt         7.000000  1.500000
     Imperial        35.000000  2.000000
     Sacramento      16.000000  3.000000
     San Bernardino  10.000000  3.000000
     Santa Barbara    4.000000  0.000000
     Santa Clara     15.000000  2.000000
     Solano          20.000000  2.000000

In [28]:
aqi_cleaned = aqi_grouper.reset_index()

In [29]:
aqi_cleaned.columns = aqi_cleaned.columns.map('_'.join)

In [30]:
aqi_cleaned.rename(columns={'Year_': 'Year',
                           'County_':'County'}, inplace = True)

In [31]:
aqi_cleaned['County'] = aqi_cleaned['County'].str.lower().str.capitalize()

In [35]:
aqi_cleaned = aqi_cleaned.rename(columns={'County':'county'})

In [36]:
asthma_to_merg['Year'].dtype

dtype('int64')

In [37]:
merged = asthma_to_merg.merge(aqi_cleaned, how='inner', on=['county','Year'])

In [38]:
print(f'rows: {len(merged)}, columns: {len(merged.columns.tolist())}')

rows: 104, columns: 17

In [39]:
merged

,Year,Age_Group,county,Number_of_Asthma_ED_Visits,Age_Adjusted_Rate_of_Asthma_ED_V,NO2 AQI_mean,NO2 AQI_max,NO2 AQI_min,O3 AQI_mean,O3 AQI_max,O3 AQI_min,SO2 AQI_mean,SO2 AQI_max,SO2 AQI_min,CO AQI_mean,CO AQI_max,CO AQI_min
0,2013,0,Alameda,144.630435,55.506522,25.151099,61.000000,5.0,21.027473,50.0,3.0,2.491758,67.000000,0.0,8.043956,36.000000,2.0
1,2013,1,Alameda,82.384615,100.317949,25.151099,61.000000,5.0,21.027473,50.0,3.0,2.491758,67.000000,0.0,8.043956,36.000000,2.0
2,2013,0,Contra costa,129.000000,48.694444,15.813699,34.666667,3.0,29.459817,78.0,9.0,1.209132,6.666667,0.0,4.422831,9.666667,2.0
3,2013,1,Contra costa,76.482759,82.317241,15.813699,34.666667,3.0,29.459817,78.0,9.0,1.209132,6.666667,0.0,4.422831,9.666667,2.0
4,2013,0,Fresno,92.000000,55.602778,23.650000,57.000000,3.0,44.755556,145.0,3.0,0.877778,7.000000,0.0,7.325000,26.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2016,1,Santa barbara,63.500000,78.070000,4.106227,10.333333,0.0,39.021978,74.0,24.0,0.846154,2.333333,0.0,1.793040,4.000000,0.0
100,2016,0,Santa clara,80.688889,25.424444,23.355372,48.000000,4.0,30.454545,67.0,6.0,0.190083,1.000000,0.0,6.016529,15.000000,2.0
101,2016,1,Santa clara,40.657895,35.697368,23.355372,48.000000,4.0,30.454545,67.0,6.0,0.190083,1.000000,0.0,6.016529,15.000000,2.0
102,2016,0,Solano,205.000000,70.781818,17.851240,36.000000,1.0,31.545455,84.0,6.0,0.950413,9.000000,0.0,6.801653,20.000000,2.0
103,2016,1,Solano,106.400000,109.750000,17.851240,36.000000,1.0,31.545455,84.0,6.0,0.950413,9.000000,0.0,6.801653,20.000000,2.0

In [40]:
merged.to_csv('../resources/Cleaned_folder/aqi_asthma.csv', index=False)